.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.sidebar {
  min-width: 250px;
  max-width: 350px;
  padding: 2rem;
}

.sidebar h1 {
  font-size: 1.2rem;
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.sidebar p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.main {
  flex-grow: 1;
  padding: 0 7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.srollableDiv {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 1rem;
  scrollbar-color: #424242 var(--bg);
  scrollbar-width: thin;
}


/* .scrollableDiv::-webkit-scrollbar {
  width: 10px;
}

.scrollableDiv::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.scrollableDiv::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.scrollableDiv::-webkit-scrollbar-thumb:hover {
  background-color: #666;
} */
